html
  head
    script(type='text/javascript' src='/js/checkPassword.js')
    title= 'Reset Password'
body
  form(action='?' method='POST' onsubmit="return checkPassword()")
    p Welcom back, #{nickname}!
    p
      | Please enter your new password: 
      input(id="password" type="password" name="password" placeholder="")
    p
      | Please enter the password again: 
      input(id="confirmPassword" type="password" name="confirmPassword" placeholder="")
    input(id="submit" type='submit' value='Submit')